@media screen and (width >= 960px) {
    .principal {
        padding: 0px;
        box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.233);
    }
    
    .imagem {
        text-align: center;
        display: block;
        width: 85%;
        background-color: #c58000;
    }

    .sessao__imagem {
        width: 100%;
        height: 80%;
        padding-top: 20%;
    }

    .formulario {
        font-size: 1.3rem;
        padding: 1.5rem;
    }

    .cadastro__campo{
        gap: .5rem;
    }

    .campo__tipo > input {
        margin-bottom: 1rem;
    }

    .campo__label {
        margin-right: .2rem;
    }

    .cadastro__botao {
        padding: .5rem 2rem .5rem 2rem; 
        margin-right: .5rem;
        font-weight: 600;
        font-size: .9rem;
    }    

}

@media screen and (width >= 1150px) {
    .sessao__imagem {
        width: 90%;
        height: 90%;
        padding-top: 5%;
    }
}

@media screen and (width >= 1200px) {
    .sessao__imagem {
        width: 100%;
        height: 98%;
        padding-top: 5%;
    }
}